In [1]:
import pandas as pd

In [7]:
QM_data = pd.read_csv('IR_Cleaned.txt', sep=' ')

In [8]:
QM_data.columns = ['Freq_QM','IR']

In [9]:
QM_data

      Freq_QM           IR
0    234.0479    18.144634
1    355.0278  1458.525220
2    414.5786   101.111329
3    425.0291     2.132539
4    523.6576    59.395563
5    540.8244     8.800178
6    635.6139     2.138386
7    707.8246    98.184912
8    770.3775   321.744147
9    839.3691     0.096008
10   845.7499    80.095034
11   900.9366    38.892498
12   974.1621     0.125313
13   999.4905     0.766355
14  1022.5571     3.349736
15  1066.1714    18.247249
16  1117.6154    40.031566
17  1195.9988    34.290173
18  1217.3550     3.808649
19  1226.7885   445.348788
20  1333.9969   243.622957
21  1371.0351    17.893051
22  1395.8376   131.803476
23  1535.5796    81.768405
24  1571.4831   152.142250
25  1689.2797    87.002404
26  1703.9916   120.645216
27  3200.3190    19.822212
28  3221.5607     1.061755
29  3230.8437    25.466083
30  3246.1578    26.657981
31  3252.7098     7.103429
32  3847.7965    53.166508

In [10]:
QM_data.sort_values(by=['IR'],ascending=False)

      Freq_QM           IR
1    355.0278  1458.525220
19  1226.7885   445.348788
8    770.3775   321.744147
20  1333.9969   243.622957
24  1571.4831   152.142250
22  1395.8376   131.803476
26  1703.9916   120.645216
2    414.5786   101.111329
7    707.8246    98.184912
25  1689.2797    87.002404
23  1535.5796    81.768405
10   845.7499    80.095034
4    523.6576    59.395563
32  3847.7965    53.166508
16  1117.6154    40.031566
11   900.9366    38.892498
17  1195.9988    34.290173
30  3246.1578    26.657981
29  3230.8437    25.466083
27  3200.3190    19.822212
15  1066.1714    18.247249
0    234.0479    18.144634
21  1371.0351    17.893051
5    540.8244     8.800178
31  3252.7098     7.103429
18  1217.3550     3.808649
14  1022.5571     3.349736
6    635.6139     2.138386
3    425.0291     2.132539
28  3221.5607     1.061755
13   999.4905     0.766355
12   974.1621     0.125313
9    839.3691     0.096008

In [14]:
ML_data = pd.read_csv('IR_ML.txt')

In [15]:
result= pd.concat([QM_data,ML_data],axis=1)

In [16]:
result

      Freq_QM           IR      ML
0    234.0479    18.144634   241.0
1    355.0278  1458.525220   325.1
2    414.5786   101.111329   398.8
3    425.0291     2.132539   434.4
4    523.6576    59.395563   506.0
5    540.8244     8.800178   550.1
6    635.6139     2.138386   641.5
7    707.8246    98.184912   654.8
8    770.3775   321.744147   792.8
9    839.3691     0.096008   821.5
10   845.7499    80.095034   864.7
11   900.9366    38.892498   895.0
12   974.1621     0.125313   943.5
13   999.4905     0.766355   972.7
14  1022.5571     3.349736  1061.8
15  1066.1714    18.247249  1087.1
16  1117.6154    40.031566  1137.4
17  1195.9988    34.290173  1195.1
18  1217.3550     3.808649  1227.5
19  1226.7885   445.348788  1249.7
20  1333.9969   243.622957  1330.5
21  1371.0351    17.893051  1350.9
22  1395.8376   131.803476  1409.3
23  1535.5796    81.768405  1559.2
24  1571.4831   152.142250  1572.8
25  1689.2797    87.002404  1719.5
26  1703.9916   120.645216  1752.9
27  3200.3190    19.822212  3258.6
28  3221.5607     1.061755  3260.6
29  3230.8437    25.466083  3274.3
30  3246.1578    26.657981  3286.9
31  3252.7098     7.103429  3302.2
32  3847.7965    53.166508  3786.8

In [17]:
result.sort_values(by=['IR'],ascending=False,inplace=True)

In [18]:
result

      Freq_QM           IR      ML
1    355.0278  1458.525220   325.1
19  1226.7885   445.348788  1249.7
8    770.3775   321.744147   792.8
20  1333.9969   243.622957  1330.5
24  1571.4831   152.142250  1572.8
22  1395.8376   131.803476  1409.3
26  1703.9916   120.645216  1752.9
2    414.5786   101.111329   398.8
7    707.8246    98.184912   654.8
25  1689.2797    87.002404  1719.5
23  1535.5796    81.768405  1559.2
10   845.7499    80.095034   864.7
4    523.6576    59.395563   506.0
32  3847.7965    53.166508  3786.8
16  1117.6154    40.031566  1137.4
11   900.9366    38.892498   895.0
17  1195.9988    34.290173  1195.1
30  3246.1578    26.657981  3286.9
29  3230.8437    25.466083  3274.3
27  3200.3190    19.822212  3258.6
15  1066.1714    18.247249  1087.1
0    234.0479    18.144634   241.0
21  1371.0351    17.893051  1350.9
5    540.8244     8.800178   550.1
31  3252.7098     7.103429  3302.2
18  1217.3550     3.808649  1227.5
14  1022.5571     3.349736  1061.8
6    635.6139     2.138386   641.5
3    425.0291     2.132539   434.4
28  3221.5607     1.061755  3260.6
13   999.4905     0.766355   972.7
12   974.1621     0.125313   943.5
9    839.3691     0.096008   821.5

In [19]:
def SE(a, b): 
    return (a - b)**2

result['SE'] = result.apply(lambda row: SE(row['Freq_QM'],row['ML']),axis=1)

In [20]:
result

      Freq_QM           IR      ML           SE
1    355.0278  1458.525220   325.1   895.673213
19  1226.7885   445.348788  1249.7   524.936832
8    770.3775   321.744147   792.8   502.768506
20  1333.9969   243.622957  1330.5    12.228310
24  1571.4831   152.142250  1572.8     1.734226
22  1395.8376   131.803476  1409.3   181.236214
26  1703.9916   120.645216  1752.9  2392.031591
2    414.5786   101.111329   398.8   248.964218
7    707.8246    98.184912   654.8  2811.608205
25  1689.2797    87.002404  1719.5   913.266532
23  1535.5796    81.768405  1559.2   557.923296
10   845.7499    80.095034   864.7   359.106290
4    523.6576    59.395563   506.0   311.790838
32  3847.7965    53.166508  3786.8  3720.573012
16  1117.6154    40.031566  1137.4   391.430397
11   900.9366    38.892498   895.0    35.243220
17  1195.9988    34.290173  1195.1     0.807841
30  3246.1578    26.657981  3286.9  1659.926861
29  3230.8437    25.466083  3274.3  1888.450010
27  3200.3190    19.822212  3258.6  3396.674961
15  1066.1714    18.247249  1087.1   438.006298
0    234.0479    18.144634   241.0    48.331694
21  1371.0351    17.893051  1350.9   405.422252
5    540.8244     8.800178   550.1    86.036755
31  3252.7098     7.103429  3302.2  2449.279896
18  1217.3550     3.808649  1227.5   102.921025
14  1022.5571     3.349736  1061.8  1540.005200
6    635.6139     2.138386   641.5    34.646173
3    425.0291     2.132539   434.4    87.813767
28  3221.5607     1.061755  3260.6  1524.066944
13   999.4905     0.766355   972.7   717.730890
12   974.1621     0.125313   943.5   940.164376
9    839.3691     0.096008   821.5   319.304735

In [21]:
result.mean(axis=0)

Freq_QM    1412.538391
IR          112.223758
ML         1420.151515
SE          893.942563
dtype: float64